extends layout

block content
  .auth-container
    h2 Авторизация

    if error
      .error-message= error
    if success
      .success-message= success

    form(action="/auth/login" method="POST")
      .form-group
        label(for="username") Имя пользователя:
        input(type="text" name="username" id="username" required)
      .form-group
        label(for="password") Пароль:
        input(type="password" name="password" id="password" required)
      .form-group
        button(type="submit") Войти

    p(style="text-align: center; margin-top: 15px;")
      | Нет аккаунта?  
      a(href="/auth/register") Зарегистрироваться
